<h1>List of my bookings:</h1>


<ul>
  <% @bookings.each do |booking| %>
  <li>
     <%= booking.cat.id %> | <b> <%= booking.cat.name %></b> | <%= booking.cat.city %> | <%= booking.date_from %> | <%= booking.date_to %> | <%= link_to "Details about #{booking.cat.name} ", cat_path(booking.cat) %>
  </li>
  <% end %>
  <br>
  <li>
    <%= link_to "Go to all cats to create new booking", cats_path  %>
  </li>
</ul>

