<div class="container">
  <div class="new-booking-for-cat">
    <div class="cat-img-big">
      <%= image_tag @booking.cat.picture_url, :style => "width:90%; border-radius:5px; margin:10px auto;"  %>
    </div>

    <div class="new-booking-cat-body">
      <h1>Booking confirmed !</h1>
      <p><b>Name: <%= @booking.cat.name %></b></p>
    <div class="booking-details">
      <div>
        <p><b>Location:</b> <%= @booking.cat.city %></p>
      </div>
      <div>
        <p><b>Start date:</b> <%= @booking.date_from.strftime('%d/%m/%Y') %></p>
      </div>
      <div>
        <p><b>End date:</b> <%= @booking.date_to.strftime('%d/%m/%Y') %></p>
      </div>
    </div>
    </div>
  </div>

</div>
