
<div class="container-fluid">
  <div class="main-container text-center">
    <h1>Choose one of our lovely cats</h1>
  </div>
  <div class="flex-container">
    <div class="cards">

      <% @cats.each do |cat| %>
        <div class="cat-card">
          <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% if cat.picture_url != "" %>
              <%= cat.picture_url %>
            <% else %>
              <%= cl_image_path cat.photo.key %>
            <% end %>)">
          </div>
          <div class="cat-card-body">
            <div class="detail">
              <h2 class="card-title"><%= cat.name %></h2>
              <p style="color:grey; font-size: 18px;"><i class="fas fa-map-marker-alt"></i> <%= cat.city %></p>
            </div>
            <p class="card-text"><strong>Breed:</strong> <%= cat.breed %></p>
          </div>
          <div class="yellow-button">
            <%= link_to "Rent me", cat_path(cat) %>
            <i class="fas fa-paw white"></i>
          </div>
        </div>
      <% end %>
    </div>

    <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
