<div class="container">
  <div class="booking-form">
  <h1>Choose one of our lovely cats</h1>

    <div class="cards">

      <% @cats.each do |cat| %>
        <div class="cat-card">
          <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cat.picture_url %>)"></div>
          <div class="cat-card-body">
            <h2 class="card-title"><%= link_to cat.name, cat_path(cat) %></h2>
            <p class="card-text"> <strong>About me</strong> <br> <%= cat.breed %> (<%= cat.color %> color)</p>
          </div>
          <div class="yellow-button">
            <%= link_to "Rent me", cat_path(cat) %>
            <i class="fas fa-paw white"></i>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
