<div class="container">
  
<h1>Cats, cats, cats...</h1>

  <div class="cards">

    <% @cats.each do |cat| %>
      <div class="card">
        <%= image_tag("#{cat.picture_url}") %>
        <div class="cat-info-box">
          <p><%= link_to cat.name, cat_path(cat) %></p>
          <p><%= cat.breed %> (<%= cat.color %> color)</p>
          <p class="btn btn-primary"><%= link_to "Rent me!", cat_path(cat) %></p>
        </div>
      </div>
    <% end %>

  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

