<%= link_to 'Back to all cats', cats_path, class: "btn btn-outline-secondary back-button", id: "top-backlink"%>

<div class="container">
  <div class="main-container">
    <h1>My cats</h1>
    <% @cats.each do |cat| %>
      <div class="card-landscape">
        <% if cat.picture_url != '' %>
          <%= image_tag cat.picture_url%>
        <% else %>
          <%= cl_image_tag cat.photo.key %>
        <% end %>
        <div class="card-landscape-infos">
          <h2> <%= link_to "#{cat.name}", cat_path(cat) %> </h2>
          <p>
            <%= cat.breed %> (<%= cat.color %>)
          </p>
        </div>
      </div>
    <% end %>

  </div>
</div>
