<div class="container">
  <div class="main-container">
    <div><%= image_tag(@cat.picture_url) %></div>
    <div class="cat-title"><p><b>Name:</b> <%= @cat.name %></p></div>
    <p><b>Breed:</b> <%= @cat.breed %></p>
    <p><b>Color:</b> <%= @cat.color %></p>
    <p><b>Age:</b> <%= @cat.age %></p>

    <div class="details">
      <h2><b>About <%= @cat.name %></b></h2>
      <p><%= @cat.description %></p>
    </div>

    <div class="links-to-go-back">
      <%= link_to 'Choose Me !', new_cat_booking_path(@cat) %>
    </div>
  </div>
</div>



