  <div class="cat-title">
    <p><%= @cat.name %></p>
    <p><%= @cat.breed %></p>
    <p><%= @cat.color %></p>
    <p><%= @cat.description %></p>
  <div class="details">
    <h2>A bit more about this cat</h2>
    <p><%= @cat.description %></p>
  </div>
</div>

